<mat-toolbar class="footer">
    <mat-toolbar-row>
    <span>Copyright @ cxi 2017</span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
