.footer{
    background-color: #3f51b5;
    text-align: center;    
    font-size: 0.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    -webkit-text-fill-color: white;    
}

.example-icon {
    padding: 0 14px;
    float: right;
}