<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>Bell</span>  
</mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <mat-card-title>      
     
  </mat-card-title>
<mat-card-content>
    <form class="example-form">
        <div class="example-container">
          <tr>
            <mat-form-field>
              <input matInput placeholder="User Name">
            </mat-form-field>
          </tr>
          <tr>
              <mat-form-field>
                <input matInput placeholder="Password">
              </mat-form-field>
            </tr>  
            <tr>
              <mat-form-field>
                <input matInput placeholder="Email">
              </mat-form-field>
            </tr>       
            <tr>
              <mat-form-field>
                <input matInput placeholder="Telphone">
              </mat-form-field>
            </tr>   
          </div>
        <br />      
        <tr>    
            <td colspan="2" class="content-center">    
                <button mat-raised-button color="primary">Submit</button>   
                <button mat-raised-button color="primary" [routerLink]="['/login']">Cancel</button>                                     
            </td>                 
        </tr>  
      </form>

</mat-card-content>
</mat-card>