html{
    display: block;
    background-color: darkgrey;
}
.example-container {
display: flex;
flex-direction: column;
}
 
.example-container > * {
width: 100%;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.container{
    max-width: 60%;
    margin: auto;    
    padding: 10px;
}

