<mat-toolbar color="primary">
    <mat-toolbar-row>
    <span>Bell</span>
    <!-- <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>