/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
    background-color: gray;
}
/* @keyframes bgcolor {
    0% {
        background-color: #66CCFF
    }

    30% {
        background-color: #66CCCC
    }

    60% {
        background-color: #66FFFF
    }

    90% {
        background-color: #66FFCC
    }

    100% {
        background-color: #66CC99
    }
}


body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
} */

