
<div class="error-container">
  <form class="four-oh-four-form">
    <input type="text" class="404-input">
  </form>

  <div class="terminal">
      <p class="prompt">404 Page Not Found</p>
      <p class="prompt">The page you requested cannot be found right now.</p>
      <a [routerLink]="['/login']">Back to Login</a>
     
  </div>
</div>